.ccolor{
    color:aqua;
    background: whitesmoke;
    text-align: center;
    font-size: 30px;
}
.dcolor{
    color: blue;
    background-color: azure;
    
}
.box{
    border: 2px solid black;
    width:800px;
    height: 400px;
    float:right;
}
.ecolor{
    color: crimson;
    background-color: wheat;
    text-align: end;
    font-size: medium;
}
.fcolor{
    color: cornsilk;
    background-color: cyan;
    text-align: right;
    
}
.gcolor{
    color: blanchedalmond;
    background-color: blueviolet;
}